git+https://github.com/USEPA/esupy#egg=esupy
olca-ipc>=0.0.12
pandas>=0.22                   # Powerful data structures for data analysis, time series, and statistics.
pip>=9                         # The PyPA recommended tool for installing Python packages.
setuptools>=41                 # Fully-featured library designed to facilitate packaging Python projects.
